@mixin granola-button {
    @include granola-button-base;

    @include granola-button-color(
        $text: color('white'),
        $background: color('black'),
        $border: color('black'),
    );

    @include interact {
        @include granola-button-color(
            $text: color('black'),
            $background: color('white'),
            $border: color('black'),
        );
    }
}

// [1] Remove the underline if this is an a tag
@mixin granola-button-base {
    @include button-reset;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $button-padding-vertical $button-padding-horizontal;
    border-width: 2px;
    border-style: solid;
    border-radius: $base-border-radius;
    cursor: pointer;
    text-decoration: none; // [1]
    transition: transition(color, background-color, border-color, box-shadow, transform);

    @include interact {
        @include button-focus;

        text-decoration: none;
    }
}

@mixin granola-button-color(
    $text,
    $background,
    $border
) {
    border-color: $border;
    background-color: $background;
    color: $text;
}
