$checkbox-size: 1.25em;
$checkbox-padding: 0.25em;
$checkbox-border-width: 2px;
$checkbox-border-radius: 0.125em;
$checkbox-label-padding: $checkbox-size + 0.5em;
$checkbox-checkmark-width: 0.15em;
$checkbox-checkmark-size: $checkbox-size - 2 * $checkbox-padding;

// Unchecked
$checkbox-color: color('white');
$checkbox-border-color: color('black');

// Checked
$checkbox-color-checked: color('black');
$checkbox-border-color-checked: color('black');
$checkbox-checkmark-color: color('white');

// Disabled
$checkbox-color-disabled: lighten(color('grey'), 5%);
$checkbox-border-color-disabled: lighten(color('grey'), 5%);
$checkbox-checkmark-color-disabled: lighten(color('grey'), 15%);

@mixin checkbox-label {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: $checkbox-label-padding;
    clear: both;
    cursor: pointer;
    line-height: $checkbox-size;
    vertical-align: top;

    &::before,
    &::after {
        position: absolute;
        left: 0;
        content: '';
    }

    &::before {
        width: $checkbox-size;
        height: $checkbox-size;
        border: $checkbox-border-width solid $checkbox-border-color;
        background: transparent;
        border-radius: $checkbox-border-radius;
        cursor: pointer;
        transition: background 0.3s;
    }
}

@mixin checkbox-input {
    position: absolute;
    display: block;
    width: $checkbox-size;
    margin: 0;
    background: $checkbox-color;
    float: left;
    font-size: inherit;
    opacity: 0;
    outline: 0;

    &:checked {
        + label::before {
            border-color: $checkbox-border-color-checked;
            background: $checkbox-color-checked;
        }

        + label::after {
            width: $checkbox-checkmark-size;
            height: $checkbox-checkmark-size / 2;
            border: $checkbox-checkmark-width solid $checkbox-checkmark-color;
            border-top-style: none;
            border-right-style: none;
            transform: translate($checkbox-padding, -1px) rotate(-45deg);
        }
    }

    &:disabled {
        + label {
            color: $checkbox-border-color-disabled;
        }

        + label::before {
            border-color: $checkbox-border-color-disabled;
            background: $checkbox-color-disabled;
        }

        &:checked {
            + label::before {
                border-color: $checkbox-border-color-disabled;
                background: $checkbox-color-disabled;
            }

            + label::after {
                border-color: $checkbox-checkmark-color-disabled;
            }
        }
    }

    &:focus + label::before,
    + label:focus::before {
        box-shadow: 0 0 0 $input-focus-outline-width $input-focus-color;
    }

    &:focus:not(:focus-visible) + label::before,
    + label:focus:not(:focus-visible)::before {
        box-shadow: none;
    }
}

@mixin checkbox-label--highlight {
    @include input;

    display: flex;
    align-items: center;
    padding-left: $checkbox-size * 2;
    font-weight: normal;

    &::after,
    &::before {
        left: $checkbox-size / 2;
    }
}
