@mixin select {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */

    &:not([multiple]) {
        padding-right: 1.2em;
        // Disable browser styling of select fields
        appearance: none;

        /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
            for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference */
        background-image:
            url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
            linear-gradient(to bottom, $input-background 0%, $input-background 100%);

        /* arrow icon position (1em from the right, 50% vertical) , then gradient position */
        background-position: right 0.7em top 50%, 0 0;
        background-repeat: no-repeat, repeat;

        /* icon size, then gradient */
        background-size: 0.65em auto, 100%;
        cursor: pointer;

        /* Focus style */
        &:focus,
        &:active {
            background-color: transparent;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, color('white') 0%, color('white') 100%);
        }
    }

    /* Hide arrow icon in IE browsers */
    &::-ms-expand {
        display: none;
    }

    /* Set options to normal weight */
    option {
        font-weight: normal;
    }

    /* Support for rtl text, explicit support for Arabic and Hebrew */
    *[dir='rtl'] &,
    :root:lang(ar) &,
    :root:lang(iw) & {
        padding-right: $input-padding-horizontal;
        padding-left: 1.4em;
        background-position: left 0.7em top 50%, 0 0;
    }
}
