.livingstyleguide {
    &__heading {
        color: color('styleguide');

        &--section {
            border-bottom: 2px solid currentColor;
            text-transform: uppercase;
        }

        &--component {
            border-bottom: 2px solid currentColor;
            font-size: rem(30);
        }

        &--variation {
            border-bottom: 2px solid currentColor;
            font-size: rem(20);
        }
    }

    &__section {
        @include layout-margin;
    }
}
