// ---------------------------------------------------
// DEVELOPMENT MODE
// ---------------------------------------------------
$granola-development: false;

// ---------------------------------------------------
// Base settings
// ---------------------------------------------------
$base-background: color('white');
$base-color: color('black');
$base-focus-color: lighten(color('blue'), 40%);
$base-border-radius: 3px;
$base-dark-percentage: 10%;

// Box Shadow
$box-shadow-horizontal: 0;
$box-shadow-vertical: 0;
$box-shadow-blur: 0.25em;
$box-shadow-spread: 0;
$box-shadow-color: rgba($base-color, 0.2);

// ---------------------------------------------------
// Base settings
// ---------------------------------------------------
$rfs-breakpoint: width('normal');

// ---------------------------------------------------
// Text links
// ---------------------------------------------------
$link-color-base: inherit;
$link-color-hover: inherit;

// ---------------------------------------------------
// Text selection
// ---------------------------------------------------
$selection-color: color('white');
$selection-background: color('black');

// ---------------------------------------------------
// Buttons
// ---------------------------------------------------
$button-active-states: false;
$button-padding-vertical: 0.5em;
$button-padding-horizontal: 1.25em;

// ---------------------------------------------------
// Horizontal rule styling
// ---------------------------------------------------
$hr-color: currentColor;
$hr-thickness: 1px;

// ---------------------------------------------------
// Transitions
// ---------------------------------------------------
$transition-time: 0.3s;
$transition-ease: ease-in-out;

// ---------------------------------------------------
// Form Styling
// ---------------------------------------------------
$input-background: transparent;
$input-border-width: 1px;
$input-border-color: currentColor;
$input-color: inherit;
$input-custom-select: true;
$input-focus-color: $base-focus-color;
$input-focus-outline-width: 5px;
$input-focus-outline-color: $base-focus-color;
$input-gap: space('paragraph') / 2;
$input-padding-horizontal: 0.85em;
$input-padding-vertical: 0.85em;
$input-padding: $input-padding-vertical $input-padding-horizontal;
$input-placeholder-color: rgba($base-color, 0.8);
$input-radius: $base-border-radius;
$form-error-message-color: color('red');
$label-spacing: space('paragraph') / 4;
$textarea-height: 100px;
$gf-list-icon-size: 1rem;
