// -------------------------------------------------------------------------------------------
// Simple loop that will autogenerate required Gutenberg classes from our '$colors' palette.
// -------------------------------------------------------------------------------------------
@each $color in $colors {
    $key: nth($color, 1);
    $value: nth($color, 2);
    $foreground: foreground-color(#{$key});

    .has-#{$key}-background-color {
        background-color: #{$value};

        @if ($foreground) {
            color: foreground-color(#{$key});
        }
    }

    .has-#{$key}-color {
        color: #{$value};
    }
}
