.wp-block-embed {
    &__wrapper {
        > * {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    iframe {
        @include box-shadow;
        @include rounded;

        margin-top: 0;
        margin-bottom: 0;
    }
}
