// --------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------
// Editor styles
// --------------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------------

// ----------------------------------------------
// Import the framework
// ----------------------------------------------
@import './core';

// ----------------------------------------------
// Reset the things
// ----------------------------------------------
@import 'normalize.css/normalize.css';

// ----------------------------------------------
// Elements
// ----------------------------------------------
@import './1-elements/fonts';

body {
    @include alias-text;
    @include typestyle-body-text;

    background-color: $base-background;
    color: $base-color;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    scroll-behavior: smooth;

    // @import './1-elements/html';
    // @import './1-elements/body';

    @import './1-elements/animations';
    @import './1-elements/box-sizing';
    @import './1-elements/type';
    @import './1-elements/headings';
    @import './1-elements/table';
    @import './1-elements/figure';
    @import './1-elements/focus';
    @import './1-elements/blockquote';
    @import './1-elements/selection';
    @import './1-elements/forms';
    @import './1-elements/img';
    @import './1-elements/a';
    @import './1-elements/iframe';
    @import './1-elements/hr';
    @import './1-elements/svg';
    @import './1-elements/button';
}

// ----------------------------------------------
// Components
// A reusable piece of styling that
// can be used to put other things together
// ----------------------------------------------
@import '../components/components';

// ----------------------------------------------
// Templates
// ----------------------------------------------
// @import './3-templates/xxxxx';

// ----------------------------------------------
// Trumps
// ----------------------------------------------
// @import './4-trumps/no-scroll';

// ----------------------------------------------
// Hacks
// ----------------------------------------------
// @import './5-hacks/ie';

.editor-post-title__block .editor-post-title__input {
    @include typestyle-h1;

    margin-top: 0;
}

.acf-block-preview {
    @include no-first-last-margin;
}

.mce-content-body {
    margin: 10px;
}
