.js .animate {
    --animate--animation: animate--fade-in;
    --animate--duration: 600ms;
    --animate--delay-time: 100ms;
    --animate--item-delay-time: 150ms;
    --animate--easing: ease-out;

    &--play {
        .animate-element {
            @media screen and (prefers-reduced-motion: no-preference) {
                --animate--delay: calc(var(--animate--delay-time) + calc(var(--animate--item-delay-time) * var(--animate--key, 0)));

                animation: var(--animate--animation) var(--animate--duration) var(--animate--delay) forwards var(--animate--easing);
            }
        }
    }

    .animate-element {
        @media screen and (prefers-reduced-motion: no-preference) {
            opacity: 0;
        }
    }
}

@keyframes animate--fade-in {
    from {
        opacity: 0;
        transform: translate(var(--animate--translateX, 0), var(--animate--translateY, 15px));
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes animate--fly-in {
    from {
        opacity: 1;
        transform: translate(var(--animate--translateX, 0), var(--animate--translateY, 15px));
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}
