@mixin overlay-darken {
    &__media {
        &::before {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(color('black'), 0.7);
            content: '';
        }
    }
}

@mixin overlay-contain-content($width) {
    &__inner {
        max-width: $width;
    }
}

@mixin overlay-h-center {
    text-align: center;

    &__inner {
        align-items: center;
    }
}

@mixin overlay-h-right {
    &__inner {
        align-items: flex-end;
    }
}

@mixin overlay-v-top {
    &__inner {
        @include layout-padding-top(0.25);
        @include layout-padding-bottom(1.5);
    }
}

@mixin overlay-v-center {
    &__inner {
        @include layout-padding;
    }
}

@mixin overlay-v-bottom {
    &__inner {
        @include layout-padding-top(1.5);
        @include layout-padding-bottom(0.25);
    }
}
