.cards {
    @include layout-margin;

    &.alignfull {
        overflow: hidden;

        .cards__row {
            // When the block is wide aligned, we have an overflow hidden, which
            // means that the shadows get cut off. Therefore we need to add some
            // padding
            @if strip-unit($box-shadow-blur) != 0 {
                padding-top: $box-shadow-blur;
                padding-bottom: $box-shadow-blur;
            }
        }

    }

    &__row {
        @include make-row;

        justify-content: center;
    }

    &__col {
        @include make-col;

        margin-top: space('gap--small') * 2;

        @include mq('medium') {
            $columns: 2;

            width: calc(100% / #{$columns});

            &:nth-child(-n + #{$columns}) {
                margin-top: 0;
            }
        }

        @include mq('xlarge') {
            $columns: 3;

            width: calc(100% / #{$columns});

            &:nth-child(-n + #{$columns}) {
                margin-top: 0;
            }
        }

        &:nth-child(1) {
            margin-top: 0;
        }
    }

    &__secondary-content {
        @include no-first-last-margin;

        margin-top: space('layout--medium');
    }
}
