.cookie-notice {
    $cookie-notice: &;

    // Treat the outer notice element as a fixed position 'wrapper' to avoid
    // message width issues on smaller screens.
    position: fixed;
    z-index: 20;
    bottom: space('gap--small') / 2;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    @include mq(medium) {
        bottom: space('gap--small');
    }

    &__banner {
        @include box-shadow;

        display: flex;
        width: auto;
        max-width: calc(100% - #{space('container-padding--small')});
        flex-direction: column;
        align-items: center;
        padding: (space('gap--small') / 2) space('gap--small') * 1.25;
        background: color('grey');
        color: color('black');
        opacity: 0;
        pointer-events: none;
        text-align: center;
        transform: translateY(100%);
        transition: transition(opacity, transform);

        @include mq(medium) {
            flex-direction: row;
            text-align: left;
        }

        .active & {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
        }
    }

    &__message {
        @include no-first-last-margin;

        flex: 1 0 auto;
        margin-bottom: space('paragraph');

        @include mq(medium) {
            margin-right: space('container-padding--small');
            margin-bottom: 0;
        }

        a {
            @include remove-underline-on-hover;

            @include interact {
                color: inherit;
            }
        }
    }

    &__actions {
        @include list-reset-hard;
        @include make-row(15px, false, false);

        flex-wrap: nowrap;
    }

    &__action {
        @include make-column(15px, false, false);

        display: flex;
        align-items: center;
    }
}
