@mixin delay-items($time, $items: 1, $reverse: false) {
    $step: $time / $items;
    @for $i from 1 through $items {
        @if $reverse == true {
            $time: $time - (($i - 1) * $step);
        } @else {
            $time: $i * $step;
        }

        &:nth-child(#{$i}) {
            transition-delay: #{$time}ms;
        }
    }
}
