@charset "UTF-8";

/// Used for creating outer containers. Adds the site padding to the outside of the
/// container at the breakpoints specified, sets left/right margins to auto and sets a max-width.
///
/// @param {number} $padding [space('container-padding--small')] - The space to create at the edge
/// of the screen
///
/// @example scss
///    @include make-container;
///
/// @example scss
///    @include make-container(20px);
///
/// @access public

@mixin make-container {
    @include responsive-container(space('container-padding--small'), space('container-padding--large'), null);

    max-width: width('normal');
}

@mixin responsive-container($padding: space('container-padding--small'), $padding--tablet: space('container-padding--large'), $padding--desktop: $padding--tablet) {
    @include make-padding($padding);

    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @if ($padding--tablet) {
        @include mq(medium) {
            @include make-padding($padding--tablet);
        }
    }

    @if ($padding--desktop) {
        @include mq(large) {
            @include make-padding($padding--desktop);
        }
    }
}
