@charset "UTF-8";

/// Create a row which will contain columns. Rows create space for a gutter by
/// applying negative margins to the right and left, half the width of the
/// gutter
///
/// @param {number} $gap [space('gap--small')] - The space, equal to the space
/// applied to child columns, that will used for negative margins
///
/// @example scss
///    @include make-row;
///
/// @example scss
///    @include make-row(20px, null, 30px);
///
/// @access public

@mixin make-row($gap: space('gap--small'), $gap--tablet: space('gap--medium'), $gap--desktop: space('gap--large')) {
    @include negative-margins($gap / 2);

    display: flex;
    flex-wrap: wrap;

    @if ($gap--tablet) {
        @include mq(medium) {
            @include negative-margins($gap--tablet / 2);
        }
    }

    @if ($gap--desktop) {
        @include mq(large) {
            @include negative-margins($gap--desktop / 2);
        }
    }
}

/// Create a column which sits inside a container. A column helps create the
/// gutter by applying padding to the left and right, half the width of the
/// gutter, in effect, creating space between sibling columns
///
/// @param {number} $gap [space('gap--small')] - The space, equal to the space
/// applied to the parent row, that will be used for padding
///
/// @example scss
///    @include make-column;
///
/// @example scss
///    @include make-column(20px);
///
/// @access public
@mixin make-col($args...) {
    @include make-column($args...);
}

@mixin make-column($gap: space('gap--small'), $gap--tablet: space('gap--medium'), $gap--desktop: space('gap--large')) {
    @include make-padding($gap / 2);

    @if ($gap--tablet) {
        @include mq(medium) {
            @include make-padding($gap--tablet / 2);
        }
    }

    @if ($gap--desktop) {
        @include mq(large) {
            @include make-padding($gap--desktop / 2);
        }
    }
}
