@mixin gutenberg-content (
    $width: width('normal'),
    $wide: width('wide')
) {
    @include responsive-container;

    > *:not(.alignwide):not(.alignfull):not(.alignright):not(.alignleft) {
        max-width: width('skinny');
        margin-right: auto;
        margin-left: auto;
    }

    > [class*='wp-block-'] {
        @include block-margins;
    }

    .alignwide,
    .alignfull {
        width: auto;
    }

    .alignwide {
        max-width: $wide;
        margin-right: auto;
        margin-left: auto;
    }

    .alignfull {
        @include responsive-negative-margins(
            space('container-padding--small'),
            space('container-padding--large')
        );

        max-width: 100vw;
    }
}
