// -----------------------------------------------------------------------------
// The double selector hack is applied in this file due to gutenberg styling
// being a little overzealous with its selectors. The options we have are
// therefore redo the styling for all blocks, or apply a little selector magic
// to address the problem
// -----------------------------------------------------------------------------
.aligncenter {
    // Some of the items that are centered are not block level. Lets fix that
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.alignright,
.alignleft {
    // This line controls if it should grow to the max it can be or be only
    // what is needed for the content
    width: 100%;

    @include mq(small) {
        max-width: width('skinny') / 2;
        margin-bottom: space('gap--small');
    }
}

.alignright {
    @include mq(small) {
        margin-right: 5%;
        margin-left: space('gap--small');
        float: right;
    }

    // This is a little bit of magic that pushes
    @include mq(medium) {
        margin-right: calc(50% - (#{width('skinny')} / 2));
    }
}

.alignleft {
    @include mq(small) {
        margin-right: space('gap--small');
        margin-left: 5%;
        float: left;
    }

    @include mq(medium) {
        margin-left: calc(50% - (#{width('skinny')} / 2));
    }
}
