figure {
    @include layout-margin(space('layout--small'), space('layout--medium'), null);

    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
    font-size: $small-font-size;
    text-align: center;
}


figcaption {
    padding: space('paragraph') / 2;
}
