.img-fit {
    @include object-fit;

    overflow: hidden;

    &::before {
        display: block;
        content: '';
    }

    img {
        @include object-fit-asset;
    }

    &--fallback {
        @include object-fit-img-fallback;
    }
}
